header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
    font-size: 24px;
    color: var(--color-neutral-1);
    cursor: pointer;
}

#mobile_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-primary-1);
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

@media (max-width: 992px) {
    #nav_list {
        gap: 32px;
    }
}

@media (max-width: 814px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
    }

    #mobile_menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #mobile_menu.active {
        display: flex;
    }

    #mobile_menu.active {
        display: flex;
        position: fixed;
        top: 80px;
        height: calc(100vh - 80px);
        justify-content: center;
        transition: 0.5s;
        border-top: 1px solid var(--color-primary-2);
    }

    #mobile_menu .nav-item {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }
}

@media (max-width: 550px) {

    /* Esconde o botão da navbar para sobrar espaço para o logo e o ícone sanduíche */
    header nav .btn-default {
        display: none;
    }

    /* Estiliza o botão que fica dentro do menu mobile */
    #mobile_menu .btn-whatsapp {
        width: 100%;
        /* Largura total para facilitar o clique */
        max-width: 250px;
        /* Não deixa ele esticar demais em telas maiores */
        padding: 12px 24px;
        font-size: 16px;
        margin-top: 20px;
        /* Separa dos itens da lista */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        background-color: var(--color-primary-6);
        /* Sua cor principal */
        color: white;
        border: none;
        cursor: pointer;
    }

    /* Ajuste do container do menu mobile para centralizar o botão */
    #mobile_menu {
        display: none;
        /* O JS controla isso, mas garantimos o flex quando ativo */
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
}